:root {
  --dark-gray: #858694;
  --light-gray: #e0e0e0;
  --orange: #f5913e;
  --border: #bababa;
}

#root {
  width: 700px;
  height: 100%;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.display-container {
  width: 100%;
  height: 100px;
  font-size: 40px;
  background-color: var(--dark-gray);
}

.display {
  color: white;
  float: right;
  font-weight: bold;
  font-size: 5rem;
}

.button-row {
  width: 100%;
  height: 100px;
}

.button {
  width: 25%;
  height: 100%;
  border: 1px solid var(--border);
  background-color: var(--light-gray);
  font-size: 1rem;
}

.button-orange {
  background-color: var(--orange);
}

.button-big {
  width: 50%;
}
